@import url('fonts.css');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}






* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 1.4;
}

body {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  overflow: hidden;
}

/* Use single-direction margins. */
h1, h2, h3, h4, h5, h6, p, ol, ul, dl, pre {
  margin-top: 0;
}



.Map {
  position: relative;
  background: #F5F6F7;
  flex-grow: 1;

  & .SensorMarker {
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & .shadow {
      opacity: 0;
      transition: opacity 300ms ease-out, transform 300ms cubic-bezier(0.355, 1.395, 0.605, 0.975);
      transform: scale(0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      transition: background-color 2s ease;
      width: 100%;
      height: 100%;

      &::before {
        border: 5px solid white;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      }
      font-size: 1.3rem;
      font-weight: 600;
      color: white;
    }
    &--selected {
      & .shadow { opacity: 1; transform: scale(1); }
      z-index: 1;
    }
  }
}

html, body, #root, .root {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.PageHeader {
  background: white;
  color: #169ED4;
  margin: -0.5rem -0.5rem 0.5rem !important;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & h1 {
    line-height: 1;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
  }

  &__links {
    & a {
      display: inline-block;
      padding: 0 1rem;
      border-right: 1px solid #999;
      color: #999;
      font-size: smaller;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    & a:last-child {
      border-right: 0px none;
    }
  }
}

.SmallTextList {
  font-size: smaller;
  color: #999;
  list-style: none;
  padding-left: 0;
  overflow: hidden;

  & li:first-child {
    float: left;
  }
  & li:last-child {
    float: right;
  }
}

.MainSection {
  margin: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}


.Sidebar {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  background-color: #2a3139;
  overflow-y: auto;

  &__waves img {
    width: 100%;
    height: 50px; /* xxx */
    margin-bottom: -20px;
    display: block;
  }

  & .Section {
    margin: 1rem;
    padding: 0.5rem;
    background: rgba(42, 49, 57, 0.9);
    border-radius: 4px;
    transition: opacity 300ms ease;

    &--invisible {
      opacity: 0;
    }
  }

  &--light {
    background-color: #fff;
  }

  &--light .Section {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
  }

  &__bottomArea {
    display: 'flex';
    flex-direction: 'column';
    flex: 1;
  }

  & .Section + .Section {
    margin-top: -0.5rem;
  }
}



.root {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem;
  background: #E3ECF1;
}

/*.SidebarSection {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;

  & > h1 {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    border-bottom: 1px solid #aaa;
  }

  & h1 + &__content {
    padding-top: 1rem;
  }

  & + .SidebarSection {
    margin-top: 0.5rem;
  }
}*/

.HistoryGraph {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;

  &__links {
    text-align: right;
    & a {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      color: #666;
      text-decoration: none;

      &.selected {
        color: #fff;
        background-color: #666;
        border-radius: 3px;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  & .HistorySvgGraph {
    flex-grow: 1;
    min-height: 100px;
    & .axis {
      font-size: 12px;
    }

    & .pointerText {
      fill: white;
      font-size: 20px;
      text-anchor: middle;
    }


    & text {
      font-family: Rubik, Arial;
      text-transform: uppercase;
    }

    & .averageLine {
      stroke: black;
      stroke-width: 3px;
      opacity: 0.1;
    }


    & .tick line { stroke: white; }
    & .tick text { fill: white; }
    &.light .tick line { stroke: black; }
    &.light .tick text { fill: black; }
    & .domain { stroke: none !important; }

    & .line {
      fill: none;
      stroke: #333;
      stroke-width: 3px;
    }
  }

}

.ColorIndexOverlay {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 10px;
  background: white;
  border-radius: 4px;
  color: #333;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  width: 280px;
  padding: 15px;

  font-weight: 200;
  &__bar {
    display: flex;
    margin-top: 0.5rem;
  }
  &__color {
    height: 16px;
    width: calc(10% - 1px);
    margin: 0.5px;
    box-sizing: border-box;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  &__labels {
    display: flex;
    margin-top: 0.5rem;
    position: relative;
    left: 2px;
    & div {
      text-align: center;
      font-weight: 400;
      font-size: 0.8rem;
      box-sizing: border-box;
      border-right: 2px dotted #999;
      width: calc(30%);
      line-height: 1;
      &:last-child {
        border-right-color: transparent;
      }
      &:nth-child(2) {
        width: calc(40%);
      }
    }
  }
}


svg {
  align-self: stretch;
}


/*.ShareSave {
  display: flex;
  margin: 0.5rem;
  & a {
    flex: 1;
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #999;
    text-align: center;
    color: inherit;
    text-decoration: none;
  }
}*/

.SummaryBox {
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid #999;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }

  &__airText {

  }

  &__mainValue {
    display: flex;
    align-self: center;
    align-items: flex-end;
    justify-content: center;

    & .value {
      font-size: 6rem;
      font-weight: 200;
      line-height: 1;
    }
    & .label {
      font-weight: 200;
      padding: 0 0 1rem 0.5rem;
    }

  }

  &__items {
  }
}

.CurrentDetails {
  display: flex;
  justify-content: space-around;
  & .CurrentDetailsItem {
    &__value {
      font-weight: 200;
      font-size: 1.3rem;
      line-height: 1;
    }
    &__label {
      font-size: 0.7rem;
    }
  }
}


.PageBody {
   display: flex;
   flex: 1;
   min-height: 0;
}

.CompactFooter {
  display: flex;
  color: white;
  background: green;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  position: absolute;

  &__value {
    font-weight: 200;
    font-size: 4rem;
    line-height: 1;
    padding-left: 0.5rem;
  }
  &__label {
    padding: 0.5rem;
    font-weight: 200;
    align-self: flex-end;
  }
  &__text {
    padding-left: 1rem;
    padding-right: 0.5rem;
    flex: 1;
  }
}


.root.mobile {
  padding: 0;

  & .PageHeader {
    display: none;
  }

  & .PageBody {
    display: block;
    position: relative;
    height: 100%;
  }
  & .MainSection {
    margin: 0;
    box-shadow: none;
  }
  & .Map {
    position: absolute;
    height: calc(100% - 80px);
    width: 100%;
  }
  & .PageHeader {
    margin: 0 !important;
  }
  & .Sidebar {
    z-index: 100;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.gps-control {
  background-color: #fff;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  & img {
    width: 28px;
    height: 25px;
    padding: 7px 8px 2px 6px;
    opacity: 0.55;
  }
}

.gps-control.following {
  background-color: #cef;
  & img {
    opacity: 1;
  }
}